/* Reset default styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body setup */
body {
  min-height: 100vh;  /* Use min-height instead of 200vh */
  display: flex;       /* Flex to center container */
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#D8C7FF, #19006C);
  font-family: 'Poppins', sans-serif;
  padding: 20px; 
}
